
.footer-center {
  background: #333;
  padding: 50px 0;
  color: #fff;
  text-align: center;
   height: 350px;
}

.footer-brand {
  color: #F4CE14;
  font-size: 32px;
  margin-bottom: 5px;
}

.footer-links span {
  margin: 0 15px;
  font-size: 16px;
  cursor: pointer;
  opacity: 0.8;
}

.footer-copy {
  margin-top: 20px;
  opacity: 0.7;
}