
header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 20px;
  height:100px;
}

.logo{
    margin-right:30px;
}
.logo img {
  height: 50px; /* or whatever size */
}
nav {
    gap:30px;
}
nav li {
  font-weight: 600;
  cursor: pointer;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 40px;
  justify-content: center;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}